<div class="slider1" *ngIf="slider1 && slider1.slides.length > 0">
  <app-slider [slider]="slider1"></app-slider>
</div>
<div class="wrapper">
  <div class="slider2" *ngIf="slider2 && slider2.slides.length > 0">
    <app-slider [slider]="slider2"></app-slider>
  </div>
  <div class="slider3" *ngIf="slider3 && slider3.slides.length > 0">
    <app-slider [slider]="slider3"></app-slider>
  </div>
</div>
