.slider1 {
  width: 100%;
  height: 300px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .slider2 {
    width: 40%;
    height: 200px;
  }

  .slider3 {
    width: 50%;
    height: 200px;
  }
}
