:host {
  display: block;
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;

  div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
